/* responsive*/
/* xs */
@media screen and (min-width: 0){
    h1, h2, h3, h4, 
    section.simplest_cloud form {
        margin-top: 40px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    p {
        margin-top:10px;
        margin-bottom:10px;
        font-size: 18px;
        line-height: 24px;
    }
    a {
        font-size:16px ;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 22px;
    }
    h4{
        font-size: 20px;
    }
    /* header */
    .uno,
    .due{
        display: none;
    }
    /* Sezione "The simplest cloud..." */
    .right{
        padding: 0px;
    }
    
    

}

/* md */
@media screen and (min-width: 768px){
    h1, h2, h3, h4,
    section.simplest_cloud form {
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: bold;
    }
    p {
        margin-top:10px;
        margin-bottom:10px;
        font-size: 18px;
        line-height: 24px;
    }
    a {
        font-size:16px ;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 22px;
    }
    h4{
        font-size: 20px;
    }
    /* header */

    /* Sezione "The simplest cloud..." */
    .right{
        padding-right: 20px;
    }
    
    
}
    

/* lg */
@media screen and (min-width: 1200px){
    h1, h2, h3, h4
    section.simplest_cloud form {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    p {
        margin-top:15px;
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 32px;
    }
    a {
        font-size:18px ;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 20px;
    }
    /* header */
    
    .uno,
    .due{
        display:block;
    }

    /* Sezione "The simplest cloud..." */
    .right{
        padding-right: 20px;
    }
    
    
    
}


