*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colori */
color1{
    color:#004aff;
}
color2{
    color:#011d4c;
}
color3{
    color:#75819a;
}
color5{
    color:#00a4c9;
}
/* utility */
a{
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}
ul li:last-child{
    padding-right: 0px;
}
/* header */
header{
    position: fixed;
}
.contenuto{
    position: relative;
}
.container{
    background-color: darkgreen;
    height: 70px;
}
.menu{
    height: 70px;
    background: darkmagenta;
}
header img{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    
}
header i{
    height: 70px;
    text-align: right;
    font-size: 20px;
    padding-top: 25px;
}
header li{
    line-height: 70px;
}
.due{
    text-align: right;
}
.menu{
    overflow: hidden;
}



