*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* colori */
.color1{
    color:#2586fd;
}
.color2{
    color:#011d4c;
}
.color3{
    color:#75819a;
}
.color5{
    color:#00a4c9;
}
.color6{
    color:#818181;
}
/* utility */
a{
    text-decoration: none;
    color:#011d4c ;
    font-weight: 500;
}
a:hover,
a:active,
a:focus{
    cursor: pointer;
    text-decoration: none;
    color:black;
}
li{
    list-style: none;
    display: inline-block;
    padding-right: 15px;
}
ul li:last-child{
    padding-right: 0px;
}
.text-center{
    text-align: center;
}
.btm{
    background-color:#2586fd;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}
.btm1{
    background-color:white;
    font-size: 14px;
    color: #818181;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 1px 2px #818181;
    margin-bottom: 10px;
    font-weight: bold;
}
.btm2{
    background-color:white;
    font-size: 16px;
    color: #2586fd;
    border-radius: 5px;
    padding: 10px 8px;
    border:1px solid #2586fd;
}
/* header */
header{
    width: 100%;
    position: fixed;
    padding: 10px 0;
    background-color: white;
    z-index: 100;
}
.contenuto{
    position: relative;
}
 header .container1{
    height: 60px;
}
.menu{
    height: 60px;
}
header img{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    
}
header i:not(a i){
    height: 60px;
    text-align: right;
    font-size: 20px;
    padding-top: 20px;
    color:#2586fd;
}
header a i{
    margin-left: 5px;
    vertical-align: middle;
}
header li{
    line-height: 60px;
}
.due{
    text-align: right;
}
.menu{
    overflow: hidden;
}
/* Sezione "The simplest cloud... */
section.simplest_cloud{
    padding: 80px 0 10px 0;
    background-image:url(./digital_ocean/img/bg-banner-home.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: repeat;
    color: white;
}
form{
    background-color: white;
    padding:15px;
    border-radius: 5px;
}
form h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #75819a;
    background-color:white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 10px;
}
form .btm1{
    position: relative;
}
form a img{
    height: 28px;
    position: absolute;
    left: 4px;
    top:50%;
    transform: translateY(-50%);
}
form p{
    font-size: 12px;
    font-weight: normal;
}
form p a{
    color:#00a4c9;
    font-size: 12px;
    text-decoration: underline;
}
form p a:hover,
form p a:active,
form p a:focus{
    text-decoration: underline;
}
/* Sezione img-loghi */
.loghi{
    background-color: #f3f5f9;
    padding: 20px 0;
    text-align: center;
    color:#75819a;
}
.loghi a{
    color:#00a4c9;
}
.loghi a:hover,
.loghi a:focus,
.loghi a:active{
    color:black;
}
.cella{
    height: 100px;
    padding: 5px;
    background-image:url(./digital_ocean/img/docker.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.cella:nth-child(2){
    background-image: url(./digital_ocean/img/gitlab.svg);
}
.cella:nth-child(3){
    background-image:url(./digital_ocean/img/slack.svg) ;
}
.cella:nth-child(4),
.cella:nth-child(5){
    background-image: url(./digital_ocean/img/hashicorp.svg);
}
.cella:nth-child(6){
    background-image: url(./digital_ocean/img/splunk.svg);
}



